<div id="main_id" style="margin: 5rem">
  <main>
    <section id="about_me_id" style="margin-top: 3rem">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit
        veritatis aperiam deleniti corporis illum! Maxime, libero esse!
        Praesentium eveniet quasi sint iste hic. Molestiae, ipsum omnis
        doloremque temporibus dignissimos dolor!
      </p>
    </section>
    <section id="blog_id">
      <div class="container">
        <div class="row">
          <!--  card -->
          <div class="col-sm-12 col-md-3 col-lg-4 col-3">
            <div class="card">
              <img
                class="card-img-top"
                src="https://d3544la1u8djza.cloudfront.net/APHI/Blog/2020/07-23/How+Much+Does+It+Cost+to+Have+a+Cat+_+ASPCA+Pet+Insurance+_+black+cat+with+yellow+eyes+peeking+out-min.jpg"
                alt="Title"
              />
              <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Text</p>
              </div>
            </div>
          </div>
          <!--  card -->
          <div class="col-sm-12 col-md-3 col-lg-4 col-3">
            <div class="card">
              <img
                class="card-img-top"
                src="https://d3544la1u8djza.cloudfront.net/APHI/Blog/2020/07-23/How+Much+Does+It+Cost+to+Have+a+Cat+_+ASPCA+Pet+Insurance+_+black+cat+with+yellow+eyes+peeking+out-min.jpg"
                alt="Title"
              />
              <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Text</p>
              </div>
            </div>
          </div>
          <!--  card -->
          <div class="col-sm-12 col-md-3 col-lg-4 col-3">
            <div class="card">
              <img
                class="card-img-top"
                src="https://d3544la1u8djza.cloudfront.net/APHI/Blog/2020/07-23/How+Much+Does+It+Cost+to+Have+a+Cat+_+ASPCA+Pet+Insurance+_+black+cat+with+yellow+eyes+peeking+out-min.jpg"
                alt="Title"
              />
              <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Text</p>
              </div>
            </div>
          </div>
          <!--  card -->
          <div class="col-sm-12 col-md-3 col-lg-4 col-3">
            <div class="card">
              <img
                class="card-img-top"
                src="https://d3544la1u8djza.cloudfront.net/APHI/Blog/2020/07-23/How+Much+Does+It+Cost+to+Have+a+Cat+_+ASPCA+Pet+Insurance+_+black+cat+with+yellow+eyes+peeking+out-min.jpg"
                alt="Title"
              />
              <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Text</p>
              </div>
            </div>
          </div>
          <!--  card -->
          <div class="col-sm-12 col-md-3 col-lg-4 col-3">
            <div class="card">
              <img
                class="card-img-top"
                src="https://d3544la1u8djza.cloudfront.net/APHI/Blog/2020/07-23/How+Much+Does+It+Cost+to+Have+a+Cat+_+ASPCA+Pet+Insurance+_+black+cat+with+yellow+eyes+peeking+out-min.jpg"
                alt="Title"
              />
              <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Text</p>
              </div>
            </div>
          </div>
          <!--  card -->
          <div class="col-sm-12 col-md-3 col-lg-4 col-3">
            <div class="card">
              <img
                class="card-img-top"
                src="https://d3544la1u8djza.cloudfront.net/APHI/Blog/2020/07-23/How+Much+Does+It+Cost+to+Have+a+Cat+_+ASPCA+Pet+Insurance+_+black+cat+with+yellow+eyes+peeking+out-min.jpg"
                alt="Title"
              />
              <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Text</p>
              </div>
            </div>
          </div>
          <!--  card -->
          <div class="col-sm-12 col-md-3 col-lg-4 col-3">
            <div class="card">
              <img
                class="card-img-top"
                src="https://d3544la1u8djza.cloudfront.net/APHI/Blog/2020/07-23/How+Much+Does+It+Cost+to+Have+a+Cat+_+ASPCA+Pet+Insurance+_+black+cat+with+yellow+eyes+peeking+out-min.jpg"
                alt="Title"
              />
              <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Text</p>
              </div>
            </div>
          </div>
          <!--  card -->
          <div class="col-sm-12 col-md-3 col-lg-4 col-3">
            <div class="card">
              <img
                class="card-img-top"
                src="https://d3544la1u8djza.cloudfront.net/APHI/Blog/2020/07-23/How+Much+Does+It+Cost+to+Have+a+Cat+_+ASPCA+Pet+Insurance+_+black+cat+with+yellow+eyes+peeking+out-min.jpg"
                alt="Title"
              />
              <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Text</p>
              </div>
            </div>
          </div>
          <!--  card -->
          <div class="col-sm-12 col-md-3 col-lg-4 col-3">
            <div class="card">
              <img
                class="card-img-top"
                src="https://d3544la1u8djza.cloudfront.net/APHI/Blog/2020/07-23/How+Much+Does+It+Cost+to+Have+a+Cat+_+ASPCA+Pet+Insurance+_+black+cat+with+yellow+eyes+peeking+out-min.jpg"
                alt="Title"
              />
              <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Text</p>
              </div>
            </div>
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end container -->
    </section>
    <section id="contact_id" style="margin-top: 3rem">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit,
      necessitatibus!
    </section>
  </main>
</div>
